env {
  parallelism = 3
  job.name="test_hive_source_to_hive"
}

source {
  Hive {
    tables_configs = [
        {
           table_name = "test.test_table"
           metastore_uri = "thrift://hadoop31:9083"
           hdfs_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hdfs-site.xml"
           hive_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hive-site.xml"
        },
        {
         table_name = "test.test_table1"
         metastore_uri = "thrift://hadoop31:9083"
         hdfs_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hdfs-site.xml"
         hive_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hive-site.xml"
        }
      ]
  }
}

sink {
    Hive {
          table_name = "db_hive.${table_name}"
          metastore_uri = "thrift://hadoop31:9083"
          hdfs_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hdfs-site.xml"
          hive_site_path = "/Users/kissy/module/seatunnel-2.3.4/config/hive-site.xml"
    }
}